body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.primary {
    background-color: #1f2937;
    color: #f9faf8;
}

.primary p {
    color: #e5e7eb;
}

.secondary {
    background-color: white;
    color: #1f2937;
}

.tertiary {
    background-color: #e5e7eb;
    color: #1f2937;
}

header {
    display: flex;
  flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 150px;
}

.info-boxes {
    display: flex;
    
    gap: 50px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.box p {
    text-align: center;
}

.box img {
    max-height: 200px;
    border-radius: 20px;
    border: solid #3882f6;
}



.info h2 {
    font-size: 36px;
   
}

.info p {
    font-size: 18px;
    color: #1f2937cb;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 150px 850px;
    
}

.quote h2 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.quote p {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: flex-end;
    margin: 0;
}

.cta {
    display: flex;
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
}