body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.primary {
    background-color: #1f2937;
    color: #f9faf8;
}

.primary p {
    color: #e5e7eb;
}

.secondary {
    background-color: white;
    color: #1f2937;
}

.tertiary {
    background-color: #e5e7eb;
    color: #1f2937;
}

header {
    display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.nav-bar img {
    width: 100px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 30px;
    
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    
}

.nav-links li {
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 50px;
    gap: 100px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    
}

.header-left h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.header-left p {
    font-size: 18px;
}



.header-content img {
    width: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px;
}

.info-boxes {
    display: flex;
    
    gap: 50px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.box p {
    text-align: center;
}

.box img {
    max-height: 200px;
    border-radius: 20px;
    border: solid #3882f6;
}



.info h2 {
    font-size: 36px;
   margin: 0;
}

.info p {
    font-size: 18px;
    color: #1f2937cb;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 150px 600px;
    align-items: center;
    
    
}

.quote h2 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.quote p {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: flex-end;
    margin: 0;
}

.cta {
    display: flex;
    padding: 100px 10px;
}

.cta-blue-box {
    display: flex;
    padding: 50px 150px;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 200px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.cta-left h3 {
    margin: 0;
    font-size: 24px;
}

.cta-left p {
    margin: 0;
    color: rgba(255, 255, 255, 0.801);
}

.cta-button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 0 50px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 10px 40px;
}

.cta-blue-box .cta-button {
    border: white solid 2px;
    transition: .3s;
}

.cta-button:hover {
    background-color: #FFF;
    color: #3882f6;
    transition: .3s;
}

.cta-button:active {
    margin-top: 2px;
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
}